.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
.save-button {
  border: none;
  /* background-color: #e0ffff; */
  padding: 14px 28px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.msg {
  font-size: 18px;
}
.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e0ffff;
}
.get-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  height: 70px;
  font-weight: 500;
  font-size: 20px;
}
.button {
  background-color: #a9a9a9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  /* background-color: red; */
  font-size: 18px;
}
.hidden {
  display: none;
}
